<!-- --------------SNAGA MOTORA----------------- -->
<div class="span-2 flex flex-col gap-3 ">
  <h1 class="w-full text-center">Snaga motora</h1>

  @if (mode === 'single') {
    <div class="relative w-full -mt-2">
      <input
        type="text"
        placeholder="Snaga motora"
        [value]="selectedEnginePower"
        class="w-full border border-(--border-color)  pl-4 pr-10 py-1 text-sm focus:outline-none focus:ring-2 focus:ring-(--color-navbar) focus:border-(--color-navbar) cursor-pointer"
      />
    </div>
  } @else {
    <!-- SNAGA MOTORA OD -->
    <div class="flex gap-3">
      <div class="relative w-full">
        <div class="flex -mt-2">
          <input
            type="text"
            placeholder="Od (kW)"
            (focus)="focusOutside($event)"
            [value]="selectedEnginePowerMIN"
            class="w-full border-2 border-(--border-color)  pl-4 pr-10 py-1 text-sm  focus:outline-none focus:ring-2 focus:ring-(--color-navbar) focus:border-(--color-navbar)"
          />
          <button (click)="toggleDropdownMIN()" type="button" class="-ml-9 px-2 text-(--border-color) bg-(--color-navbar) cursor-pointer ">
            <fa-icon [icon]="faChevronDown"></fa-icon>
          </button>
        </div>

        <!-- Dropdown Menu -->
        @if (dropdowns[dropdownKeyMin]) {
          <div class="absolute z-10 mt-1 w-full bg-(--color-surface) border border-(--border-color)  shadow-lg max-h-60 overflow-y-auto">
            @for (option of enginePowers; track $index) {
              <button
                type="button"
                (click)="selectEnginePowerMIN(option)"
                class="w-full text-left px-4 py-2 text-sm  hover:bg-(--color-accent-soft) hover:text-(--color-navbar) "
              >
                {{ option.label }}
              </button>
            }
          </div>
        }
      </div>

      <!-- SNAGA MOTORA DO -->
      <div class="relative w-full">
        <div class="flex -mt-2">
          <input
            type="text"
            placeholder="Do (kW)"
            (focus)="focusOutside($event)"
            [value]="selectedEnginePowerMAX"
            class="w-full border-2 border-(--border-color)  pl-4 pr-10 py-1 text-sm  focus:outline-none focus:ring-2 focus:ring-(--color-navbar) focus:border-(--color-navbar)"
          />
          <button (click)="toggleDropdownMAX()" type="button" class="-ml-9 px-2 text-(--border-color) bg-(--color-navbar) cursor-pointer ">
            <fa-icon [icon]="faChevronDown"></fa-icon>
          </button>
        </div>

        <!-- Dropdown Menu -->
        @if (dropdowns[dropdownKeyMax]) {
          <div class="absolute z-10 mt-1 w-full bg-(--color-surface) border border-(--border-color)  shadow-lg max-h-60 overflow-y-auto">
            @for (option of enginePowers; track $index) {
              <button
                type="button"
                (click)="selectEnginePowerMAX(option)"
                class="w-full text-left px-4 py-2 text-sm  hover:bg-(--color-accent-soft) hover:text-(--color-navbar) "
              >
                {{ option.label }}
              </button>
            }
          </div>
        }
      </div>
    </div>
  }
</div>
