<div class="border rounded-lg p-4 flex flex-col space-y-3 bg-white shadow-md w-56">
  <a
    routerLink="/my-profile"
    routerLinkActive="bg-blue-600 text-white"
    [routerLinkActiveOptions]="{ exact: true }"
    class="w-full text-left px-3 py-2 rounded  font-medium block hover:bg-blue-100 hover:text-blue-700">
    Moj profil
  </a>

  <a
    routerLink="/my-ads"
    routerLinkActive="bg-blue-600 text-white"
    [routerLinkActiveOptions]="{ exact: true }"
    class="w-full text-left px-3 py-2 rounded  font-medium flex items-center justify-between hover:bg-blue-100 hover:text-blue-700">
    Moji Oglasi
  </a>

  <a
    routerLink="/my-messages"
    routerLinkActive="bg-blue-600 text-white"
    [routerLinkActiveOptions]="{ exact: true }"
    class="w-full text-left px-3 py-2 rounded  font-medium block hover:bg-blue-100 hover:text-blue-700">
    Poruke
  </a>

  <a
    routerLink="/my-saved-ads"
    routerLinkActive="bg-blue-600 text-white"
    [routerLinkActiveOptions]="{ exact: true }"
    class="w-full text-left px-3 py-2 rounded  font-medium block hover:bg-blue-100 hover:text-blue-700">
    Spremljeno
  </a>

  <a
    routerLink="/my-settings"
    routerLinkActive="bg-blue-600 text-white"
    [routerLinkActiveOptions]="{ exact: true }"
    class="w-full text-left px-3 py-2 rounded  font-medium block hover:bg-blue-100 hover:text-blue-700">
    Postavke
  </a>
</div>
