<!-- --------------GODINA----------------- -->
<div class="span-2 flex flex-col gap-3">
  <h1 class="w-full text-center">Godina proizvodnje</h1>

  @if (mode === 'single') {
    <div class="relative w-full">
      <button
        type="button"
        (click)="toggleDropdownSingle()"
        class="w-full border-2 border-[var(--border-color)] -mt-2 px-3 py-1 text-sm focus:outline-none focus:ring-2 focus:ring-[var(--color-navbar)] focus:border-[var(--color-navbar)] flex items-center justify-between"
      >
        <span>{{ selectedYear || 'Godina' }}</span>
        <span class="flex items-center gap-2">
          <fa-icon [icon]="faChevronDown"></fa-icon>
        </span>
      </button>

      @if (dropdowns[dropdownKey]) {
        <div class="absolute z-10 mt-1 w-full bg-[var(--color-surface)] border border-[var(--border-color)] rounded-lg shadow-lg max-h-60 overflow-y-auto">
          @for (option of Years; track $index) {
            <button
              type="button"
              (click)="selectYear(option)"
              class="w-full text-left px-4 py-2 text-sm hover:bg-[var(--color-accent-soft)] hover:text-[var(--color-navbar)] "
            >
              {{ option.label }}
            </button>
          }
        </div>
      }
    </div>
  } @else {
    <!-- GODINA PROIZVODNJE OD -->
    <div class="flex gap-3">
      <div class="relative w-full">
        <button
          type="button"
          (click)="toggleDropdownMIN()"
          class="w-full border-2 border-[var(--border-color)] -mt-2 px-3 py-1 text-sm focus:outline-none focus:ring-2 focus:ring-[var(--color-navbar)] focus:border-[var(--color-navbar)] flex items-center justify-between"
        >
          <span>{{ selectedYearMIN || 'Od' }}</span>
          <span class="flex items-center gap-2">
            <fa-icon [icon]="faChevronDown"></fa-icon>
          </span>
        </button>

        <!-- Dropdown Menu -->
        @if (dropdowns[dropdownKeyMin]) {
          <div class="absolute z-10 mt-1 w-full bg-[var(--color-surface)] border border-[var(--border-color)] rounded-lg shadow-lg max-h-60 overflow-y-auto">
            @for (option of Years; track $index) {
              <button
                type="button"
                (click)="selectYearMIN(option)"
                class="w-full text-left px-4 py-2 text-sm  hover:bg-[var(--color-accent-soft)] hover:text-[var(--color-navbar)] "
              >
                {{ option.label }}
              </button>
            }
          </div>
        }
      </div>

      <!-- GODINA PROIZVODNJE DO -->
      <div class="relative w-full">
        <button
          type="button"
          (click)="toggleDropdownMAX()"
          class="w-full border-2 border-[var(--border-color)] -mt-2 px-3 py-1 text-sm focus:outline-none focus:ring-2 focus:ring-[var(--color-navbar)] focus:border-[var(--color-navbar)] flex items-center justify-between"
        >
          <span>{{ selectedYearMAX || 'Do' }}</span>
          <span class="flex items-center gap-2">
            <fa-icon [icon]="faChevronDown"></fa-icon>
          </span>
        </button>

        <!-- Dropdown Menu -->
        @if (dropdowns[dropdownKeyMax]) {
          <div class="absolute z-10 mt-1 w-full bg-[var(--color-surface)] border border-[var(--border-color)] rounded-lg shadow-lg max-h-60 overflow-y-auto">
            @for (option of Years; track $index) {
              <button
                type="button"
                (click)="selectYearMAX(option)"
                class="w-full text-left px-4 py-2 text-sm  hover:bg-[var(--color-accent-soft)] hover:text-[var(--color-navbar)] "
              >
                {{ option.label }}
              </button>
            }
          </div>
        }
      </div>
    </div>
  }
</div>
